<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ABPRenamer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ABPRenamer.Settings1>
            <setting name="setFilter" serializeAs="String">
                <value/>
            </setting>
            <setting name="setOldCompanyName" serializeAs="String">
                <value/>
            </setting>
            <setting name="setOldProjectName" serializeAs="String">
                <value/>
            </setting>
            <setting name="setRootDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="setNewCompanyName" serializeAs="String">
                <value/>
            </setting>
            <setting name="setNewProjectName" serializeAs="String">
                <value/>
            </setting>
            <setting name="setOldAreaName" serializeAs="String">
                <value/>
            </setting>
            <setting name="setNewAreaName" serializeAs="String">
                <value/>
            </setting>
        </ABPRenamer.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
